<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>The Users</h1>
        {% for user in users %}
            <p>
                <b>{{ user.username }} </b> <a href="{% url 'detail' user.id %}">Details</a>
                <br />
            </p>
        {% empty %}
            <p>
                <b>Could not access remote server.</b>
            </p>
        {% endfor %}
        <hr />
        <h1>The Posts</h1>
        {% for post in posts %}
            <p>
                <b>{{ post.title }} </b>
                <a href="{% url 'edit_post' post.id %}">(Edit)</a>
                <br />
                <a href="{% url 'delete_post' post.id %}">(Delete)</a>
                <br />
                {{ post.body }}
                <br />
            </p>
        {% empty %}
            <p>
                <b>Could not access remote server.</b>
            </p>
        {% endfor %}
        <a href="{% url "add_post" %}">Add a new post</a>
        <br />
        <h1>Gallery</h1>
        {% for upload in uploads %}
            <p>
                <p>
                    <img src="http://localhost:8000/users{{ upload.image }}"
                         class="img-thumbnail"
                         alt="New Image"/>
                </p>
                <b>{{ upload.caption }} </b>
            </p>
        {% empty %}
            <p>
                <b>Could not access remote server.</b>
            </p>
        {% endfor %}
    </body>
</html>
